body {
    font-size: 16px;
    background: #a52a2a;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
form {
    width: 300px;
    background: #9281b2;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px
}

label i {
    color: #999;
    font-size: 80%;
}
.error {
    color: red;
    font-size: 90%;
}
.row {
    padding-bottom: 10px;
}

input, select {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}

input[type="submit"] {
    font-size: 110%;
    font-weight: 100;
    background: #bfafb2;
    border-color: #bfafb2;
    box-shadow: 0 3px 0 #bfafb2;
    color: #000000;
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #bfafb2;
}
